.header  {
    width: 1200px;
    height: 98px;
    background-color: $bg-color;

    &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    }
    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        margin-right: 24px;

        &:nth-child(3) {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: $color;
    }

    &__link2 {
        text-decoration: none;
        border-radius: 161px;
        width: 141px;
        height: 51px;
        padding: 15px 25px;
        color: $color;
        background-color: $btn;
    }
    
}