.section6 {

    height: 602px;
    margin-top: 720px;

    &__title {
        font-weight: 600;
        font-size: 47px;
        line-height: 54px;
        text-align: center;
        color: $bg-color;
        margin-bottom: 20px;
    }

    &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: $bg-color;
    }

    &__bg-img {
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;  
        height: 186px;
        background-image: url("/images/sec-6/bg-img.svg");
        background-repeat: no-repeat;
        background-position:  center;
    }

    &__btn {
        position: relative;
        top: 20px;
        margin-left: 40%;
        text-decoration: none;
        padding: 15px 25px;
        width: 244px;
        height: 52px;
        background-color: $btn;
        color: $color;
        border-radius: 161px;
    }
}