.main {

    &__section1 {
        display: inline-block;
        background-image: url("/images/sec-1/happy.svg");
        background-repeat: no-repeat;
        background-position: right center;
        width: 1200px;
        height: 544px;
        padding: 0 50px;
        display: flex;
        align-items: center;
        background-color: $bg-color;
    }

    &__text {
        width: 430px;
        height: 294px;
        margin-bottom: 120px;
    }

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        color: $color;
    }

    &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: $color;
    }
}